<div class="index-container">
    <img class="beer-img rounded mx-auto d-block" src="/images/beer.png" />
    <button type="button" class="btn btn-primary">Check the beers!</button>
    <button type="button" class="btn btn-primary">Check a random beer!</button>
</div>